*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:"Segoe UI",sans-serif;

}


body{

min-height:100vh;

background:

linear-gradient(
rgba(0,0,0,.45),
rgba(0,0,0,.75)
),

url("assets/bg.jpg");


background-size:cover;

background-position:center;

color:white;

}



/* LOGIN + SIGNUP MAIN */


.main{

min-height:100vh;

display:flex;

align-items:center;

justify-content:space-around;

padding:50px;

}





/* LEFT DETAILS */


.intro{

max-width:500px;

}



.intro h1{

font-size:55px;

color:#00eaff;

text-shadow:0 0 20px #00eaff;

}


.intro h2{

font-size:35px;

margin-top:20px;

}



.intro p{

font-size:20px;

margin-top:15px;

color:#ddd;

}



.skills{

line-height:1.8;

}



.quote{

color:#00eaff !important;

font-style:italic;

}





/* LOGIN BOX */


.login-box{


width:380px;

padding:40px;


background:rgba(255,255,255,.10);


border:1px solid rgba(255,255,255,.2);


backdrop-filter:blur(20px);


border-radius:25px;


box-shadow:0 0 40px #00eaff;


text-align:center;


}



.login-box h1{


font-size:32px;

color:#00eaff;

}



.login-box h2{

font-size:30px;

}



.login-box p{

color:#ddd;

margin:15px 0;

}




input{


width:100%;

padding:15px;

margin:10px 0;


border:none;

outline:none;


border-radius:15px;


font-size:16px;

}




.password{

position:relative;

}



.password span{


position:absolute;

right:15px;

top:25px;

cursor:pointer;

}



button{


width:100%;

padding:14px;

margin-top:15px;


border:none;

border-radius:30px;


background:#00eaff;


font-size:17px;


font-weight:bold;


cursor:pointer;


transition:.3s;


}



button:hover{


transform:scale(1.05);


box-shadow:0 0 20px #00eaff;


}



.google{


background:white;

color:black;

}




.bottom a{


color:#00eaff;

text-decoration:none;


}



#loginMsg,
#signupMsg{


color:#00ff99;

}




/* DASHBOARD */


.dashboard-container{


height:100vh;


display:flex;


justify-content:center;


align-items:center;


}



.dashboard-box{


width:420px;


padding:40px;


background:rgba(255,255,255,.10);


border:1px solid rgba(255,255,255,.2);


backdrop-filter:blur(20px);


border-radius:25px;


box-shadow:0 0 40px #00eaff;


text-align:center;


}




.dashboard-box h1{


font-size:32px;

color:#00eaff;

margin-bottom:20px;


}



.dashboard-box h2{


font-size:30px;


}




.dashboard-box p{


font-size:18px;

color:#ddd;

margin:12px 0;


}



.dashboard-card{


margin:25px 0;


padding:25px;


background:rgba(255,255,255,.08);


border-radius:20px;


}



.dashboard-card h3{


color:#00eaff;

margin-bottom:15px;


}




/* MOBILE */


@media(max-width:900px){


.main{


flex-direction:column;


text-align:center;


gap:40px;


}



.intro h1{


font-size:40px;


}



.login-box,
.dashboard-box{


width:90%;


}



}